.Button, .button {
    background-color: var(--color-primary);
    color: white;
    padding: 0 25px;
    border: none;
    height: 60px;
    line-height: 60px;
    transition-duration: 400ms;
    cursor: pointer;
    margin: 0;
    text-align: center;
}
.Button.white, .button.white {
    background-color: #eee;
    color: var(--color-text);
}
.Button:hover, .button:hover {
    background-color: var(--color-secondary);
    color: var(--color-text);
}
.Button:disabled, .button:disabled {
  opacity: 0.7;
}
@media (max-width: 960px) {
    .Button, .button {
        width: 100%;
        text-align: center;
        margin: 0px 10px;
    }
}
