.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    font-family: var(--fontFamilyEnglish);
}
.logo img {
    margin: 0 20px;
    width: 80px;
}
header {
    height: 100px;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    margin: 16px 0;
}
header .menu {
    display: flex;
    align-items: center;
}
header ul {
    display: flex;
    margin: 0;
    padding: 0;
}
header ul li {
    list-style: none;
    padding: 0 20px;
}
footer {
    direction: ltr;
    font-family: var(--fontFamilyEnglish);
    text-align: left;
}
